.zhuti {
	width: 100%;
	height: 900px;
	background-color: #F5F5F5;
}

.zhuti>div:first-child {
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.xuanze {
	position: absolute;
	top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #9D9D9D;
}

.xuanze>h1 {
	position: relative;
	top: -40px;
}

.xuanze>* {
	display: inline-block;

}

.xuanze button {
	position: absolute;
	left: 1010px;
	top: 0px;
	width: 200px;
	height: 60px;
	background-color: orange;
	border: 0px;
	color: white;
	font-size: 20px;
}

.xuanze>a:nth-child(4)>button {
	position: absolute;
	left: 790px;
	background-color: white;
	color: #808080;
	border: 1px solid #898989;
}

.name {
	position: relative;
	top: -17px;
	left: -200px;
	font-size: 15px;
}

.zhanshi img {
	width: 151px;
	height: 151px;
}

.zhanshi {
	width: 100%;
	height: 300px;

}

.zhanshi>div>div{

	position: absolute;
	bottom: -50px;
	left: 55px;
	width: 120px;
	height: 40px;	
	line-height: 40px;
	background-color: orange;
	color: white;
}

.zhanshi {
	line-height: 60px;
	text-align: center;
}

.zhanshi>div {
		overflow: hidden;
	position: relative;
}

.zhanshi>div:hover {
	box-shadow: 0 0 4px 4px #E0E0E0;
}

.zhanshi>div {
	float: left;
	width: 234px;
	height: 300px;
	background-color: white;
}

.zhanshi>div:first-child~div {
	margin-left: 13px;
}

.zhuti>div>div:nth-child(2) {
	padding-top: 255px;
}

.zhuti>div>div:nth-child(3) {
	padding-top: 13px;
}
