@charset "utf-8";

.breadcrumbs {
	color: #757575;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	background: #f5f5f5;
}

.breadcrumbs span {
	padding: 0 5px;
}

.con {
	background: #f5f5f5;
}

.con .ban {
	height: 292px;
	background: url(../img/returns/exchange.jpg) no-repeat center center;
	background-size: cover;
}

.con .mi-promise h2 {
	display: block;
	font-size: 30px;
	margin-top: 30px;
	color: #666;
	font-weight: 400;
	text-align: center;
	line-height: 106px;
}

.con .mi-promise>.pme {
	background: #fff;
	height: 398px;
}

.con .mi-promise>.pme ul {
	text-align: center;
	padding: 0 200px;
}

.con .mi-promise>.pme ul li {
	float: left;
	list-style: none;
	display: inline-block;
	margin: 67px 80px 62px;
}

.con .mi-promise>.pme ul li>.ic {
	width: 97px;
	height: 97px;
	margin-bottom: 24px;
	background: url(../img/returns/exchangeicon.png) 0 50% no-repeat;
}

.con .mi-promise>.pme ul li>.ic1 {
	background-position: 0 50%;
}

.con .mi-promise>.pme ul li>.ic2 {
	background-position: -100px 50%;
}

.con .mi-promise>.pme ul li>.ic3 {
	background-position: -200px 50%;
}

.con .mi-promise>.pme ul li>div {
	margin: 0 auto;
	font-size: 14px;
	color: #333;
}

.con .mi-promise>.pme>p {
	padding: 35px 0;
	text-align: center;
	color: #616161;
	font-size: 14px;
	border-top: 1px solid #f2f2f2;
}

.con .mi-exchange {
	margin-bottom: 45px;
}

.con .mi-exchange>h2 {
	display: block;
	font-size: 30px;
	margin-top: 30px;
	color: #666;
	font-weight: 400;
	text-align: center;
	line-height: 106px;
}

.con .mi-exchange>.ehe {
	padding: 28px 0;
	background: #fff;
	height: 601px;
}

.con .mi-exchange>.ehe>dl {
	margin: 0;
	width: 206px;
	float: left;
	padding: 19px 50px;
	border: 0;
	font-size: 14px;
	line-height: 28px;
}

.con .mi-exchange>.ehe>dl a {
	font-size: 14px;
}
.con .xiangqing{
	padding: 50px 50px;
	background: #fff;
	margin-bottom: 45px;
}
.con .xiangqing>span{
	font-size: 14px;
	    line-height: 28px;
		color: #333;
}
.con .xiangqing>a{
	color: #ff6700;
}
